# <center>PythonBasics: Assignment_16</center>

### Question 01:
Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

**<span style='color:blue'>Answer</span>**

In [1]:
birth_year = 1996  
years_list = [year for year in range(birth_year, birth_year + 6)]
print(years_list)

[1996, 1997, 1998, 1999, 2000, 2001]

### Question 02:
In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

**<span style='color:blue'>Answer</span>**

In [2]:
third_birthday_year = years_list[3]
print(third_birthday_year)

1999

### Question 03:
In the years list, which year were you the oldest?

**<span style='color:blue'>Answer</span>**

In [3]:
oldest_year = years_list[-1]
print(oldest_year)

2001

### Question 04:
Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,
&quot;salmonella&quot;.

**<span style='color:blue'>Answer</span>**

In [4]:
things = ["mozzarella", "cinderella", "salmonella"]

### Question 05:
Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

**<span style='color:blue'>Answer</span>**

In [5]:
things = ["mozzarella", "cinderella", "salmonella"]

# Capitalize the element that refers to a person
things[1] = things[1].capitalize()

##############################################
print(things)

['mozzarella', 'Cinderella', 'salmonella']

### Question 06:
Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

**<span style='color:blue'>Answer</span>**

In [6]:
surprise = ["Groucho", "Chico", "Harpo"]

### Question 07:
Lowercase the last element of the surprise list, reverse it, and then capitalize it.

**<span style='color:blue'>Answer</span>**

In [7]:
surprise[-1] = surprise[-1].lower()  # Lowercase the last element
surprise[-1] = surprise[-1][::-1]  # Reverse the last element
surprise[-1] = surprise[-1].capitalize()  # Capitalize the reversed element

In [8]:
surprise

['Groucho', 'Chico', 'Oprah']

### Question 08:
Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

**<span style='color:blue'>Answer</span>**

In [9]:
e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}

print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

### Question 09:
Write the French word for walrus in your three-word dictionary e2f.

**<span style='color:blue'>Answer</span>**

In the `e2f` dictionary, the French word for `"walrus"` is `"morse"`.

### Question 10:
Make a French-to-English dictionary called f2e from e2f. Use the items method.

**<span style='color:blue'>Answer</span>**

In [10]:
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

f2e = {value: key for key, value in e2f.items()}

print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

### Question 11:
Print the English version of the French word chien using f2e.

**<span style='color:blue'>Answer</span>**

In [11]:
f2e = {'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

english_word = f2e['chien']

print(english_word)

dog

### Question 12:
Make and print a set of English words from the keys in e2f.

**<span style='color:blue'>Answer</span>**

In [12]:
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

english_words = set(e2f.keys())

print(english_words)

{'dog', 'cat', 'walrus'}

### Question 13:
Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and
&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.
Make all the other keys refer to empty dictionaries.

**<span style='color:blue'>Answer</span>**

In [13]:
import pprint
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

#print(life)

pprint.pprint(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'emus': {}, 'octopi': {}},
 'other': {},
 'plants': {}}

### Question 14:
Print the top-level keys of life.

**<span style='color:blue'>Answer</span>**

In [14]:
top_level_keys = life.keys()
print(top_level_keys)

dict_keys(['animals', 'plants', 'other'])

### Question 15:
Print the keys for life[&#39;animals&#39;].

**<span style='color:blue'>Answer</span>**

In [15]:
animal_keys = life['animals'].keys()
print(animal_keys)

dict_keys(['cats', 'octopi', 'emus'])

### Question 16:
Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

**<span style='color:blue'>Answer</span>**

In [16]:
cat_values = life['animals']['cats']
print(cat_values)

['Henri', 'Grumpy', 'Lucy']